section {
    width: 100%;
    height: 930px;
    background: linear-gradient(to right, black, darkgray);
    position: absolute;
    background-image: url(../img/what.jpg);
}

.main {
    width: 70%;
    height: 700px;
    margin-top: 7%;
    margin-left: 15%;
}

.sd {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(104, 100, 100, 0.884);
}

.hed {
    width: 100%;
    height: 50px;
    font-size: 50px;
    color: blue;
    display: flex;
}

.hed h1 {
    margin-left: 3%;
    margin-top: 1%;
}

.cs {
    width: 100%;
    height: 600px;
    margin-top: 2%;

}

h2 {
    font-size: 35px;
    color: white;
    margin-left: 1%;
}
p {
    font-size: 35px;
    color: white;
    margin-left: 1%;
    margin-top: 2%;
}

ul {
    font-size: 30px;
    margin-top: 5%;
    margin-left: 1%;
}

li {
    margin-top: 3%;
    color: white;
}

.flex {
    width: 100%;
    height: 400px;
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    
}

.flex div {
    width: 50%;
    object-fit: cover;
}
.flextwo {
    object-fit: cover;
    width: 100%;
}
.flextwo img {
    width: 100%;
    height: 400px;
}

a {
    text-decoration: none;
    color: white;
}

.omg {
    width: 90%;
    height: 80px;
}

p {
    font-size: 30px;
}

.bb:hover, .bb:focus {
    font-size: 80px;
    color: blue;
    cursor: pointer;
}


@media (max-width: 800px) {
    .flexone {
        width: 450px;
    }
    .flextwo {
        width: 1000px;
    }
    .flextwo img {
        width: 100%;
    }
    h2 {
        font-size: 40px;
        width: 100%;
    }
    p {
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .main {
        width: 100%;
        margin-left: 0%;
    }
    .flex {
        flex-direction: column;
    }
    .flex div {
        width: 100%;
    }
}