section {
    width: 100%;
    height: 930px;
    background: linear-gradient(to right, black, darkgray);
    position: absolute;
    background-image: url(../img/what.jpg);
}

.main {
    width: 70%;
    height: 800px;
    margin-top: 4%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sd {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(104, 100, 100, 0.884);
}

.box {
    width: 90%;
    height: 700px;

}

h1 {
    width: 100%;
    height: 170px;
    font-size: 80px;
    color: blue;
}

.edit {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: row;
}

.flex {
    width: 50%;
    height: 500px;

}

ul {
    font-size: 70px;
    color: white;
}

li {
    margin-top: 6%;
}

.img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-top: 5%;
}

.img img {
    width: 70px;
    
    height: 70px;
}

.btn {
    width: 100%;

    height: 100px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:focus {
    color: blue;
    font-size: 50px;
    cursor: pointer;
}

@media (max-width: 860px){
    .edit {
        flex-direction: column;
        margin-top: 20px;
    }
    section {
        height: 1200px;
    }
    .main {
        margin: 0%;
    }
    h1 {
        font-size: 60px;
    }
    .btn {
        flex-direction: row;
    }
    a {
        margin-top: 800px;
    }
}