section {
    width: 100%;
    height: 930px;
    background: linear-gradient(to right, black, darkgray);
    position: absolute;
    background-image: url(../img/what.jpg);
}

.main {
    width: 70%;
    height: 700px;
    margin-top: 4%;
    margin-left: 15%;
}

.sd {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(104, 100, 100, 0.884);
}

.ht {
    width: 100%;
    height: 800px;
}

.empt {
    width: 100%;
    height: 30px;
}

.hed {
    width: 100%;
    height: 100px;
}

.h {
    margin-left: 2%;
    font-size: 80px;
    color: blue;
}

.info {
    width: 100%;
    height: 300px;
}

.text {
    width: 100%;
    height: 80px;
}
.text p {
font-size: 60px;
color: white;
}
ul {
    margin-top: 2%;
    font-size: 40px;
    color: white;
}

li {
    margin-top: 50px;
}

.image {
    width: 100%;
    height: 350px;
    margin-top: 70px;
    display: flex;
}
.image div {
    height: 340px;
}

.one {
    width: 80%;
    display: flex;
}
.contone {
    width: 60%;

}

.contone div {
    height: 300px;
    margin-top: 4%;
    object-fit: cover;
}

.contone div p {
    font-size: 30px;
    color: white;
    margin-top: 20px;
}
.imagethis {
    object-fit: cover;
    height: 250px;
}
.imagethis img {
    width: 100%;
    height: 300px;
    
}


.conttwo {
    width: 60%;
    height: 400px;
    object-fit: cover;
    margin-left: 10px;
    margin-top: 3%;
}
.conttwo img {
    width: 100%;
}

.two {
    width: 20%;
}

.back {
    margin-top: 60%;
    margin-left: 80%;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:focus {
    font-size: 80px;
    color: blue;
    cursor: pointer;
}

@media (max-width: 870px) {
    .main {
        width: 100%;
        margin: 0%;
    }
    .contone {
        width: 450px;
    }
    .back {
        margin-left: 5%;
    }

    .text p {
        width: 100%;
        font-size: 50px;
    }
    ul {
        font-size: 50px;
    }
    li {
        font-size: 50px;
    }
    .conttwo {
        width: 80%;
    }
    .conttwo img  {
        height: 300px;
        width: 100%;
    }
}

@media (max-width: 400px) {

    .text p {
        width: 100%;
        font-size: 30px;
    }
    ul {
        font-size: 50px;
    }
    li {
        font-size: 50px;
    }
    .conttwo {
        height: 400px;
        width: 60%;
    }
    .conttwo img{   
        height: 400px;
    }
}