section {
    width: 100%;
    height: 930px;
    background: linear-gradient(to right, black, darkgray);
    position: absolute;
    background-image: url(../img/what.jpg);
}

.main {
    width: 70%;
    height: 800px;
    margin-top: 4%;
    margin-left: 15%;
}

.sd {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(104, 100, 100, 0.884);
}

.ht {
    width: 100%;
    height: 800px;
}

.empt {
    width: 100%;
    height: 30px;
}

.hed {
    width: 100%;
    height: 100px;
}

.h {
    margin-left: 2%;
    font-size: 80px;
    color: blue;
}

.info {
    width: 100%;
    height: 300px;
}

.text {
    width: 100%;
    height: 80px;
}
.text p {
font-size: 60px;
color: white;
}
ul {
    margin-top: 2%;
    font-size: 40px;
    color: white;
}

li {
    margin-top: 50px;
}

.image {
    margin-top: 15px;
    height: 300px;
}

.twocont{
    display: flex;
    width: 80%;
    margin-left: 10%;
}
.twocont div {
    width: 50%;
    display: flex;
    height: 290px;
    object-fit: cover;
    margin-left: 5px;
}

.two img {
    width: 100%;

}
.back {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
    font-size: 30px;

}

a:hover, a:focus {
    color: blue;
    font-size: 40px;
    cursor: pointer;
}


@media (max-width: 870px) {
    .main {
        width: 100%;
        margin: 0%;
    }
    .contone {
        width: 450px;
    }
    .back {
        margin-left: 5%;
    }

    .text p {
        width: 100%;
        font-size: 50px;
    }
    ul {
        font-size: 50px;
    }
    li {
        font-size: 50px;
    }
    .conttwo {
        width: 80%;
    }
    .conttwo img  {
        height: 300px;
        width: 100%;
    }
}

@media (max-width: 560px) {
    .twocont {
        width: 100%;
        margin-left: 0%;
    }
    section {
        height: 1030px;
    }
}
@media (max-width: 400px) {

    .text p {
        width: 100%;
        font-size: 30px;
    }
    ul {
        font-size: 50px;
    }
    li {
        font-size: 50px;
    }
    .conttwo {
        height: 400px;
        width: 60%;
    }
    .conttwo img{   
        height: 400px;
    }
}