section {
    width: 100%;
    height: 930px;
    background: linear-gradient(to right, black, darkgray);
    position: absolute;
}

.main {
    width: 70%;
    height: 700px;
    margin-top: 7%;
    margin-left: 15%;
    background-image: url(../img/Capture.JPG);
}

.empt {
    width: 100%;
    height: 500px;
}

.cont {
    width: 800px;
    height: 150px;
    font-size: 50px;
    margin-left: 25%;
}

h1 {
    margin-left: 10%;
}

p {
    width: 530px;
    margin-left: 30%;
    margin-top: 8%;
}

* {
    text-decoration: none;
}

p {
    color: black;
}

p:hover, p:focus {
    color: blue;
    font-size: 80px;
    cursor: pointer;
    margin-left: 25%;
}