section {
    width: 100%;
    height: 930px;
    background: linear-gradient(to right, black, darkgray);
    position: absolute;
}

.main {
    width: 70%;
    height: 700px;
    margin-top: 7%;
    margin-left: 15%;
    object-fit: cover;
    position: relative;
}

.image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.image img {
 width: 100%;
 height: 600px;
}

.cont {
    width: 100%;
    height: 100px;
    background-color: darkgray;
}

.btn {
    width: 40%;
    height: 100px;
    margin-left: 30%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: black;
}
p {
    margin-top: 2%;
}

a {
    text-decoration: none;
    color: black;
}

p:hover, p:focus {
    color: blue;
    font-size: 50px;
    cursor: pointer;
}

@media (max-width: 850px){
    .main {
        width: 100%;
        margin: 0%;
        height: 900px;
    }
}


@media (max-width: 560px) {
    .main {
        height: 930px;
    }
    .cont {
        height: 300px;
    }
}