section {
    width: 100%;
    height: 1500px;
    background: linear-gradient(to right, black, darkgray);
    position: absolute;
}

.main {
    width: 95%;
    height: 870px;
    margin-top: 2%;
    margin-left: 2%;
}

.image {
    width: 100%;
    height: 800px;
    object-fit: cover;

}

.image img {
    width: 100%;
    height: 800px;

}

.back {
    width: 100px;
    height: 60px;
    margin-left: 50%;
    font-size: 30px;
    margin-top: 2%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:focus {
    font-size: 40px;
    color: blue;
    cursor: pointer;
}

@media (max-width: 890px){
    .main {
        width: 100%;
        margin: 0%;
    }
}

@media (max-width: 760px){
    .main {
        height: 400px;
    }
    .image {
        height: 600px;
    }
    .back {
        margin-top: 230px;
    }
}

@media (max-width: 560px){
    .main {
        height: 400px;
    }
    .image img{
        height: 550px;
    }
    .image img{
        height: 550px;
    }
    .back {
        margin-top: 0%;
    }
}